doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Make A Bid
    link(rel='stylesheet', href='../static/style/dashboardStyle.css')
    link(rel='stylesheet', href='../static/style/BidNowForTruckOwner.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap', rel='stylesheet')
    
  body
    nav#navbar
      #navbar-overlay
      #inside-navbar
        #logo
          h1 Our  Logistics 
        #nav-contents
          ul
            li.nav-list-items
              a#new-auction-button(href='/carrier/pendingBids')
                | Pending Bids
            li.nav-list-items
              a#menu
                | Menu
                i.fa.fa-angle-down.arrow-down.arrow-in-shop-login
    #sidebar-main-section-wrapper
      section#sidebar
        ul.ul-inside-sidebar
          li
            a#username.links-inside-sidebar Hello, #{user.name}
          li
            a.links-inside-sidebar(href='/customer/dashboard') Dashboard
          li
            a.links-inside-sidebar(href='/currentBookings') Current Booking
          li
            a.links-inside-sidebar(href='') Payment
          li
            a.links-inside-sidebar(href='') Tracking
          li
            a.links-inside-sidebar(href='') Calculator
          li
            a.links-inside-sidebar(href='') Book by TrucGo
        ul.ul-inside-sidebar
          li
            a.links-inside-sidebar(href='') Setting
          li
            a.links-inside-sidebar(href='') Support
          li
            a.links-inside-sidebar(href='/logout') Log Out
      section#main-section
        h1#dashboard-heading All Auctions
        include partial/flash-messages.pug 
        form.all-auctions(action="/doBid/" + auctionId , method="post")
            .inside-all-auctions Consignee's Name: 
              span #{thisAuction.name}
            .inside-all-auctions Consignee's Budget: 
              span ₹#{thisAuction.budget}
            .inside-all-auctions Pick Up City: 
              span #{thisAuction.pickUpCity}
            .inside-all-auctions Drop City:  
              span #{thisAuction.dropCity}
            .inside-all-auctions Load: 
              span #{thisAuction.load}
            .inside-all-auctions Items: 
              span #{thisAuction.item}
            .inside-all-auctions Truck: 
              span #{thisAuction.truck}
            .inside-all-auctions Date Of Shipping: 
              span #{thisAuction.datepicker}  
            .inside-all-auctions Total Bids: 
              span #{totalBids}  
            .inside-all-auctions Lowest Bid Till Now: 
              span #{lowestBid}  
            .inside-all-auctions 
                label.label-inside-form(for='bidAmount') Your Bid: 
                .input-div
                    input#budget(name='truckOwnersBid', type='number' , value='')              
            .inside-all-auctions    
                .div-containing-BidNowButton
                    input#bid-now-button(type="submit" value="Do Bid") 

    script.
             // FOR ERRORS 
            let errorCross=document.querySelector(".error-cross");
            let nameInput=document.getElementById("name");
            errorCross.addEventListener("click",()=>{
            errorCross.parentElement.style.display="none";
            nameInput.focus()
            })

    script(src='../static/script/dashboardScript.js')
