extends baseDashboardForConsignee.pug
block style
    link(rel='stylesheet', href='../static/style/dashboardStyle.css')
    link(rel='stylesheet', href='../static/style/viewBiddingsStyle.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap', rel='stylesheet')

block content
      section#main-section
        h1#dashboard-heading Current Bookings
        for bookings in UserBookings
          .all-auctions
            .inside-all-auctions Pick Up City: 
              span #{bookings.pickUpCity}
            .inside-all-auctions Drop City:  
              span #{bookings.dropCity}
            .inside-all-auctions Load: 
              span #{bookings.load}
            .inside-all-auctions Items: 
              span #{bookings.item}
            .inside-all-auctions Truck: 
              span #{bookings.truck}
            .inside-all-auctions Date Of Shipping: 
              span #{bookings.datepicker}
            .inside-all-auctions Carriers Name: 
              span #{bookings.truckOwnersName}
            .inside-all-auctions Carriers Mobile No.:
              span #{bookings.truckOwnersMobileNumber}
              
          
block script          
          script(src='../static/script/dashboardScript.js')
