extends baseDashboardForTruckOwner.pug
block style
    link(rel='stylesheet', href='../static/style/dashboardStyle.css')
    link(rel='stylesheet', href='../static/style/viewBiddingsStyle.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap', rel='stylesheet')
block content
      section#main-section
        h1#dashboard-heading All Auctions
        for auction in AllAuctions
          .all-auctions
            .inside-all-auctions Consignee's Name: 
              span #{auction.name}
            .inside-all-auctions Consignee's Budget: 
              span ₹#{auction.budget}
            .inside-all-auctions Pick Up City: 
              span #{auction.pickUpCity}
            .inside-all-auctions Drop City:  
              span #{auction.dropCity}
            .inside-all-auctions Load: 
              span #{auction.load}
            .inside-all-auctions Items: 
              span #{auction.item}
            .inside-all-auctions Truck: 
              span #{auction.truck}
            .inside-all-auctions Date Of Shipping: 
              span #{auction.datepicker}  
            .inside-all-auctions 
              .divs-containing-input
                a.buttonLink(href="/doBid/" +auction._id) Do A Bid For This Shipment


block script    
    script. 
            setInterval(function() {
                  console.log("reloaded")
                  location.reload();
            }, 10000);
    script(src='../static/script/dashboardScript.js')